<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjsZPlbOOgaKdIXcgxM2mZDuislWjwEhk</string>
	<key>GCM_SENDER_ID</key>
	<string>984179357000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bolek.atomicfence</string>
	<key>PROJECT_ID</key>
	<string>atomicfence-cf77b</string>
	<key>STORAGE_BUCKET</key>
	<string>atomicfence-cf77b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984179357000:ios:89a46f7836d6f2df9def7d</string>
</dict>
</plist>